<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <ion-card-subtitle>Usuario o Email</ion-card-subtitle>
      <ion-input></ion-input>
      <ion-card-subtitle>Contraseña</ion-card-subtitle>
      <ion-input></ion-input>
    </ion-card-header>
    
  </ion-card>
  <ion-button>Entrar</ion-button>
  <ion-button expand="block" (click)="goToHome()">Ir a Home</ion-button>
</ion-content>
