<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Quienes Somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="animacion">
    <img src="https://i.ytimg.com/vi/rZcu6fCQn0k/mqdefault.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Loco rene</ion-card-subtitle>
      <ion-card-title>Loco rene</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Loco rene
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="goToHome()">Ir a Home</ion-button>
</ion-content>
